<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>saveitem</servlet-name>
        <servlet-class>srvs.saveitem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savemenu</servlet-name>
        <servlet-class>srvs.savemenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMenu</servlet-name>
        <servlet-class>srvs.DeleteMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updmenuprice</servlet-name>
        <servlet-class>srvs.updmenuprice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dltemenu</servlet-name>
        <servlet-class>srvs.dltemenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savefood</servlet-name>
        <servlet-class>srvs.savefood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addqtytofoodreceipy</servlet-name>
        <servlet-class>srvs.addqtytofoodreceipy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savepark</servlet-name>
        <servlet-class>srvs.savepark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveemployee</servlet-name>
        <servlet-class>srvs.saveemployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateemployeedetails</servlet-name>
        <servlet-class>srvs.updateemployeedetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEmp</servlet-name>
        <servlet-class>srvs.deleteEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStock</servlet-name>
        <servlet-class>srvs.addStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatestockqty</servlet-name>
        <servlet-class>srvs.updatestockqty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveslotz</servlet-name>
        <servlet-class>srvs.saveslotz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecomment</servlet-name>
        <servlet-class>srvs.deletecomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCustomer</servlet-name>
        <servlet-class>srvs.deleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dltitm</servlet-name>
        <servlet-class>srvs.dltitm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBill</servlet-name>
        <servlet-class>srvs.deleteBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateBillAmount</servlet-name>
        <servlet-class>srvs.updateBillAmount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>markattendance</servlet-name>
        <servlet-class>srvs.markattendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendmessagetosupplier</servlet-name>
        <servlet-class>srvs.sendmessagetosupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnalyticsReview</servlet-name>
        <servlet-class>srvs.AddAnalyticsReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAnalyticsReview</servlet-name>
        <servlet-class>srvs.addAnalyticsReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveReview</servlet-name>
        <servlet-class>srvs.saveReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateReview</servlet-name>
        <servlet-class>srvs.updateReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteReview</servlet-name>
        <servlet-class>srvs.deleteReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reserveRoom</servlet-name>
        <servlet-class>srvs.reserveRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRoomReservation</servlet-name>
        <servlet-class>srvs.updateRoomReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRoomReservation</servlet-name>
        <servlet-class>srvs.deleteRoomReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reserveTable</servlet-name>
        <servlet-class>srvs.reserveTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTableReservation</servlet-name>
        <servlet-class>srvs.updateTableReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTableReservation</servlet-name>
        <servlet-class>srvs.deleteTableReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveitem</servlet-name>
        <url-pattern>/saveitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savemenu</servlet-name>
        <url-pattern>/savemenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMenu</servlet-name>
        <url-pattern>/DeleteMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updmenuprice</servlet-name>
        <url-pattern>/updmenuprice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dltemenu</servlet-name>
        <url-pattern>/dltemenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savefood</servlet-name>
        <url-pattern>/savefood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addqtytofoodreceipy</servlet-name>
        <url-pattern>/addqtytofoodreceipy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savepark</servlet-name>
        <url-pattern>/savepark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveemployee</servlet-name>
        <url-pattern>/saveemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateemployeedetails</servlet-name>
        <url-pattern>/updateemployeedetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEmp</servlet-name>
        <url-pattern>/deleteEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStock</servlet-name>
        <url-pattern>/addStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatestockqty</servlet-name>
        <url-pattern>/updatestockqty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveslotz</servlet-name>
        <url-pattern>/saveslotz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecomment</servlet-name>
        <url-pattern>/deletecomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCustomer</servlet-name>
        <url-pattern>/deleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dltitm</servlet-name>
        <url-pattern>/dltitm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBill</servlet-name>
        <url-pattern>/deleteBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateBillAmount</servlet-name>
        <url-pattern>/updateBillAmount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>markattendance</servlet-name>
        <url-pattern>/markattendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendmessagetosupplier</servlet-name>
        <url-pattern>/sendmessagetosupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnalyticsReview</servlet-name>
        <url-pattern>/AddAnalyticsReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAnalyticsReview</servlet-name>
        <url-pattern>/addAnalyticsReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveReview</servlet-name>
        <url-pattern>/saveReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateReview</servlet-name>
        <url-pattern>/updateReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteReview</servlet-name>
        <url-pattern>/deleteReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reserveRoom</servlet-name>
        <url-pattern>/reserveRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRoomReservation</servlet-name>
        <url-pattern>/updateRoomReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRoomReservation</servlet-name>
        <url-pattern>/deleteRoomReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reserveTable</servlet-name>
        <url-pattern>/reserveTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTableReservation</servlet-name>
        <url-pattern>/updateTableReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTableReservation</servlet-name>
        <url-pattern>/deleteTableReservation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
